#documents {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
}

.doc {
    margin: 10px;
    position: relative;
    display: flex;
}

.doc a {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-decoration: none;
}

.doc:hover {
    box-shadow: 2px 2px 4px 0px #aaa;
}

.img-box {
    background-color: #eee;
    padding: 20px;
    flex:1;
}

.img-box img {
    width: 145px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
}

.img-box .fa-search-plus {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #aaa;
    display: none;
    font-size: 1.1rem;
}

.img-box .fa-search-plus:hover {
    color: #777;
}

.doc:hover .fa-search-plus {
    display: inherit;
}
.zoomed {
    position: absolute;
    top: 0;
    background: #fafafa;
    right: 0;
    display: none;
    margin: 300px calc(50% - 435px/2);
    box-shadow: 10px 10px 15px 5px rgba(30,30,30,0.5);
}

.show-zoomed {
    display: inherit;
}
.info-box {
    font-size: 12px;
    background-color: #696969;
    width: 100%;
    bottom: 0;
    min-height: 45px;
}

.date {
    color: #ccc;
    font-style: italic;
    font-size: 10px;
    text-align: right;
    padding: 5px 5px 0 0;
    height: 15px;
}
.keyword {
    padding-top: 5px;
    overflow: hidden;
    width: 80px;
    text-overflow: ellipsis;
    padding: 0 0 10px 10px;
    color: #ccc;
}
.bottom-button-container {
    text-align: center;
    margin: 10px 0;
}

.btn-container {
    flex:1;
    text-align: right;
}
