#documents {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
}

.doc {
    margin: 10px;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
}

.img-box {
    padding: 20px;
    background-color: #fafafa;
    height:100%;
}
.img-box img {

    width: 145px;
}

.info-box {
    font-size: 12px;
    border-top: solid 1px lightgray;
    position: absolute;
    background-color: black;
    opacity: 0.5;
    width: 100%;
    bottom: 0;
    min-height: 45px;
}

.date {
    color: #ccc;
    font-style: italic;
    font-size: 10px;
    text-align: right;
    padding: 5px 5px 0 0;
    height: 15px;
}
.keyword {
    padding-top: 5px;
    overflow: hidden;
    width: 80px;
    text-overflow: ellipsis;
    padding: 0 0 10px 10px;
    color: #ccc;
}
.bottom-button-container {
    text-align: center;
    margin: 10px 0;
}

.btn-container {
    flex:1;
    text-align: right;
}
