html {
    height:100%;
}
body {
    margin: 0;
    font-family: Verdana;
    display: flex;
    flex-direction: column;
    height:100%;
}
.logo {
    height: 31px;
    position: absolute;
    left: 30px;
}

.top {
    background-color: black;
    padding: 20px;
    text-align: right;
}

.keywords {
    background-color: dimgrey;
    padding: 20px;
}

.btn {
    color: white;
    border: none;
    border-radius: 4px;
    margin-left: 12px;
    font-size: 12px;
    padding: 8px;
    cursor: pointer;
    position: relative;
}

.btn.success {
    background-color: #94DE45;
}
.btn.success:hover {
    background-color: #AFE674;
}

.btn.danger {
    background-color: #EF4836;
}
.btn.danger:hover {
    background-color: #F37668;
}

.btn.default {
    background-color: #2F8CFF;
}
.btn.default:hover {
    background-color: #63A9FF;
}

.btn.disabled {
    filter: saturate(40%) contrast(60%);
    cursor: not-allowed;
}

.label {
    background-color: white;
    border: none;
    border-radius: 4px;
    margin-right: 4px;
    cursor: pointer;
}

.label.selected {
    background-color: #2F8CFF;
}
.label.selected:hover {
    background-color: #63A9FF;
}

.filter-text {
    font-size: 14px;
    padding-right: 20px;
    display: inline-block;
}

.filter-box {
    display: flex;
    border-bottom: solid 1px grey;
    padding: 10px;
    align-items: center;
    line-height: 30px;
}

.badge {
    position: absolute;
    right: -10px;
    top: -10px;
    color: white;
    background-color: red;
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 10px;
    text-align: center;
}