@font-face {
    font-family: 'Lato';
    src: url('webfonts/Lato/Lato-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato';
    src: url('webfonts/Lato/Lato-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Montserrat';
    src: url('webfonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

html {
    height:100%;
}

button {
    font-family: 'Montserrat', sans-serif;
}
button:focus {
    outline: none;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin: 0;
    display: flex;
    flex-direction: column;
    height:100%;
}

input {
    background-color: #eee;
    border: none;
    padding: 4px 8px;
    font-size: 14px;
}


input:focus {
    outline: none;
    border-bottom: 2px solid #5995C8;
}

.logo {
    height: 31px;
    position: absolute;
    left: 30px;
}

.top {
    background-color: black;
    padding: 20px;
    text-align: right;
}

.keywords {
    background-color: dimgrey;
    padding: 20px;
}

.btn {
    color: white;
    border: none;
    padding: 6px 12px;
    margin-left: 12px;
    font-size: 12px;
    cursor: pointer;
    position: relative;
}

.btn.success {
    background-color: #3BB41B;
}
.btn.success:hover {
    filter: saturate(200%);;
}

.btn.danger {
    background-color: #CD1F33;
}
.btn.danger:hover {
    filter: saturate(125%);
}

.btn.default {
    background-color: #1A6387;
}
.btn.default:hover {
    filter: saturate(250%);
}

btn.warn {
    background-color: #D58120;
}
btn.warn:hover {
    filter: saturate(200%);
}

.btn.disabled {
    filter: saturate(40%) contrast(60%);
    cursor: not-allowed;
}

.label {
    background-color: white;
    border: none;
    border-radius: 12px;
    margin-right: 8px;
    cursor: pointer;
    font-size: 12px;
    min-width: 30px;
    padding: 2px 8px;
}

.label.selected {
    background-color: #68A2D4;
    box-shadow: 1px 1px 3px #333 inset;
}

.label.selected:hover {
    background-color: #63A9FF;
}

.filter-text {
    font-size: 14px;
    padding-right: 20px;
    display: inline-block;
}

.filter-box {
    display: flex;
    border-bottom: solid 1px grey;
    padding: 10px;
    align-items: center;
    line-height: 30px;
}

.badge {
    position: absolute;
    right: -10px;
    top: -10px;
    color: white;
    background-color: #CD1F33;
    padding: 2px 6px;
    border-radius: 20px;
    font-size: 10px;
    text-align: center;
    min-width: 14px;
}
